HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

#### Some Notes ####
Spring_Hateoas1.jpeg
Spring_Hateoas2.jpeg
Web capture_25-9-2024_145019_howtodoinjava.com.jpeg
Web capture_25-9-2024_145044_howtodoinjava.com.jpeg


#### some configuration files ####
/MyJournalApplication/src/main/resources/application-atlas.properties
/MyJournalApplication/src/main/resources/application.properties
/MyJournalApplication/src/test/resources/application.properties
/CodeBufferSpringBootMongoDB/src/main/resources/application.properties
/CodeBufferSpringBootMongoDB/src/main/resources/application-codebuffer.properties
/CodeBufferSpringBootMongoDB/src/main/resources/application-student.properties
/CodeBufferSpringBootMongoDB/src/main/resources/application-tod.properties
/CodeBufferSpringBootMongoDB/src/test/resources/application-student.properties
/CodeBufferSpringBootMongoDB/src/test/resources/application.properties




### some lrn folders ###
/my-journal-app-log
/MyJournalApplication/mongofiles
/MyJournalApplication/mongokey
/MyJournalApplication/another_compose
/MyJournalApplication/myDockerCompose.log
/MyJournalApplication/mydocker-compose.yaml
/MyJournalApplication/journalApp.log
/MyJournalApplication/docker-compose.yaml

/CodeBufferSpringBootMongoDB/.idea
/CodeBufferSpringBootMongoDB/.mvn
/MyJournalApplication/.idea
/MyJournalApplication/.mvn








